
<h1>Name</h1>




<form name="form_item" id="form_item" action="/wall" method="post">
	<input type="text" placeholder="Growl name" name="new_growl" id="growl_name">
	<input type="submit" value="Add it">
</form>
<!-- <input id="submit_button" type="button" value="submit" ></input> -->