
<h1>AdamErichConnerGrowler</h1>




<form name="form_item" id="form_item" action="/wall" method="post">
	<input type="text" placeholder="Growl stuff dawg" name="new_growl" id="growl_name" maxlength="142">
	<input type="submit" value="X gon give it to ya">
</form>

<!-- <input id="submit_button" type="button" value="submit" ></input> -->