<!DOCTYPE html>
<html>
<head>
	<title>AdamErichConner</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-3.3.5-dist/bootstrap-3.3.5-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<section class="col-xs-1">
			
	</section>

	<section class="col-xs-10">
			<%= yield %>
	</section>

	<section class="col-xs-1" id="rightside">
			
	</section>

</body>
</html>