<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h2>Your Gowl</h2>



	<h4>Growled:</h4>

<!-- 	<%= @growl_array %> -->
	
	<ul id="growl_wall_list">
	<% @growl_array.each do |item| %>
		<li id="leftside"><%= item %></li>
	<% end %>
	</ul>

<a href="/">Growl More S%#@, Homie!</a>

</body>
</html>