<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h2>Your Growls</h2>
	
	<ul id="growl_wall_list">
	<% @growl_array.each do |item| %>
		<li id="leftside"><%= item %></li>
	<% end %>
	</ul>

<h3><a href="/">Growl More S%#@, Homie!</a></h3>


</body>
</html>