body {
	background-image: url("../images/DMX.jpg");
	background-size: cover;
}


li	{
	list-style: none;

	text-align: center;
	font-size: 2em;
	color: orange;
	text-shadow: 1px 1px 2px #000000;
	padding: 2% 0;
	margin: 1% 0;
	background-color: rgba(0,0,0,0.60)
}
